.products {
  width: 31%;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
}
.prod-image-container {
  height: 300px;
}
.prod-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product__rating {
  display: flex;
}
.product-stars {
  display: grid;
}

.stars {
  display: inline-block;
  width: 5%;
}
.add-btn {
  background: #cd9042;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  width: 80px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
